<!doctype html>
<html lang="en">
    {{>head}}
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="pxa-header">
        {{>header}}
    </header>
    <div class="subPageHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{title}}</h3>
                </div>
            </div>
        </div>
    </div>
    {{>breadcrumb}}
    <div class="pxa-content100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{>body}}
                </div>
            </div>
        </div>
    </div>
    <footer class="pxa-footer">
        {{>footer}}
    </footer>
    {{>scripts}}
</body>
</html>
