---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Any language, any character #title in menu
number: 2 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c7"><h1>TYPO3 Speaks Your Language</h1><p class="bodytext">TYPO3 supports all languages, characters and encoding out-of-the-box. All frontend, backend and database interactions run Unicode (UTF-8) by default.</p></div>
<div id="c6"><h1>TYPO3 kender ingen grænser</h1><p class="bodytext">TYPO3 understøtter alle sprog og tegnsæt. Alle frontend-, backend- og database-interaktioner understøtter fuldt ud UTF-8.</p></div>
<div id="c5"><ul><li><strong>Bulgarian:</strong> Жълтата дюля беше щастлива, че пухът, който цъфна, замръзна като гьон. </li><li><strong>Czech:</strong> Příliš žluťoučký kůň úpěl ďábelské kódy. </li><li><strong>Dutch:</strong> Pa's wĳze lynx bezag vroom het fikse aquaduct. </li><li><strong>English:</strong> The quick brown fox jumps over the lazy dog. </li><li><strong>Esperanto:</strong> Eĥoŝanĝo ĉiuĵaŭde. </li><li><strong>French:</strong> Les naïfs ægithales hâtifs pondant à Noël où il gèle sont sûrs d'être déçus et de voir leurs drôles d'œufs abîmés. </li><li><strong>German: </strong> Falsches Üben von Xylophonmusik quält jeden größeren Zwerg. (1) </li><li><strong>German: </strong> <span lang="da">Im finsteren Jagdschloß am offenen Felsquellwasser patzte der affig-flatterhafte kauzig-höf‌liche Bäcker über seinem versifften kniffligen C-Xylophon.</span> (2) </li><li><strong>Greek</strong> (monotonic): ξεσκεπάζω την ψυχοφθόρα βδελυγμία </li><li><strong>Greek</strong> (polytonic): ξεσκεπάζω τὴν ψυχοφθόρα βδελυγμία </li><li><strong>Hebrew:</strong> <span dir="rtl">זה כיף סתם לשמוע איך תנצח קרפד עץ טוב בגן.</span> </li><li><strong>Hungarian:</strong> Árvíztűrő tükörfúrógép. </li><li><strong>Icelandic:</strong> Sævör grét áðan því úlpan var ónýt. </li><li><strong>Irish:</strong> "An ḃfuil do ċroí ag bualaḋ ó ḟaitíos an ġrá a ṁeall lena ṗóg éada ó ṡlí do leasa ṫú?" "D'ḟuascail Íosa Úrṁac na hÓiġe Beannaiṫe pór Éava agus Áḋaiṁ." </li><li><strong>Jamaican:</strong> Chruu, a kwik di kwik brong fox a jomp huova di liezi daag de, yu no siit? </li><li><strong>Japanese</strong> (Hiragana):<br>いろはにほへど　ちりぬるを<br> わがよたれぞ　つねならむ<br> うゐのおくやま　けふこえて<br> あさきゆめみじ　ゑひもせず (4)</li><li><strong>Polish:</strong> Pchnąć w tę łódź jeża lub ośm skrzyń fig. </li><li><strong>Portuguese:</strong> O próximo vôo à noite sobre o Atlântico, põe freqüentemente o único médico. (3) </li><li><strong>Sami (Northern):</strong> Vuol Ruoŧa geđggiid leat máŋga luosa ja čuovžža. </li><li><strong>Slovak:</strong> Starý kôň na hŕbe kníh žuje tíško povädnuté ruže, na stĺpe sa ďateľ učí kvákať novú ódu o živote. </li><li><strong>Spanish:</strong> El pingüino Wenceslao hizo kilómetros bajo exhaustiva lluvia y frío, añoraba a su querido cachorro. </li><li><strong>Swedish:</strong> Flygande bäckasiner söka strax hwila på mjuka tuvor. </li><li><strong>Russian:</strong> Съешь же ещё этих мягких французских булок да выпей чаю. </li><li><strong>Russian:</strong> В чащах юга жил-был цитрус? Да, но фальшивый экземпляр! ёъ. </li></ul></div>
<div id="c4"><ol><li><strong>Bulgarian:</strong> Жълтата дюля беше щастлива, че пухът, който цъфна, замръзна като гьон. </li><li><strong>Czech:</strong> Příliš žluťoučký kůň úpěl ďábelské kódy. </li><li><strong>Dutch:</strong> Pa's wĳze lynx bezag vroom het fikse aquaduct. </li><li><strong>English:</strong> The quick brown fox jumps over the lazy dog. </li><li><strong>Esperanto:</strong> Eĥoŝanĝo ĉiuĵaŭde. </li><li><strong>French:</strong> Les naïfs ægithales hâtifs pondant à Noël où il gèle sont sûrs d'être déçus et de voir leurs drôles d'œufs abîmés. </li><li><strong>German: </strong> Falsches Üben von Xylophonmusik quält jeden größeren Zwerg. (1) </li><li><strong>German: </strong> <span lang="da">Im finsteren Jagdschloß am offenen Felsquellwasser patzte der affig-flatterhafte kauzig-höf‌liche Bäcker über seinem versifften kniffligen C-Xylophon.</span> (2) </li><li><strong>Greek</strong> (monotonic): ξεσκεπάζω την ψυχοφθόρα βδελυγμία </li><li><strong>Greek</strong> (polytonic): ξεσκεπάζω τὴν ψυχοφθόρα βδελυγμία </li><li><strong>Hebrew:</strong> <span dir="rtl">זה כיף סתם לשמוע איך תנצח קרפד עץ טוב בגן.</span> </li><li><strong>Hungarian:</strong> Árvíztűrő tükörfúrógép. </li><li><strong>Icelandic:</strong> Sævör grét áðan því úlpan var ónýt. </li><li><strong>Irish:</strong> "An ḃfuil do ċroí ag bualaḋ ó ḟaitíos an ġrá a ṁeall lena ṗóg éada ó ṡlí do leasa ṫú?" "D'ḟuascail Íosa Úrṁac na hÓiġe Beannaiṫe pór Éava agus Áḋaiṁ." </li><li><strong>Jamaican:</strong> Chruu, a kwik di kwik brong fox a jomp huova di liezi daag de, yu no siit? </li><li><strong>Japanese</strong> (Hiragana):<br>いろはにほへど　ちりぬるを<br> わがよたれぞ　つねならむ<br> うゐのおくやま　けふこえて<br> あさきゆめみじ　ゑひもせず (4)</li><li><strong>Polish:</strong> Pchnąć w tę łódź jeża lub ośm skrzyń fig. </li><li><strong>Portuguese:</strong> O próximo vôo à noite sobre o Atlântico, põe freqüentemente o único médico. (3) </li><li><strong>Sami (Northern):</strong> Vuol Ruoŧa geđggiid leat máŋga luosa ja čuovžža. </li><li><strong>Slovak:</strong> Starý kôň na hŕbe kníh žuje tíško povädnuté ruže, na stĺpe sa ďateľ učí kvákať novú ódu o živote. </li><li><strong>Spanish:</strong> El pingüino Wenceslao hizo kilómetros bajo exhaustiva lluvia y frío, añoraba a su querido cachorro. </li><li><strong>Swedish:</strong> Flygande bäckasiner söka strax hwila på mjuka tuvor. </li><li><strong>Russian:</strong> Съешь же ещё этих мягких французских булок да выпей чаю. </li><li><strong>Russian:</strong> В чащах юга жил-был цитрус? Да, но фальшивый экземпляр! ёъ. </li></ol></div>

