---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Headers #title in menu
number: 4 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c33"><h1>Full Control Over All Content Elements</h1><p class="bodytext">TYPO3 offers editors full control over all content elements; even simple content elements like headers are accompanied by several configuration options. Site administrators may, for example, predefine several different header layouts for editors to utilize across the site. </p></div>

<div id="c32"><h1>Header 1. level</h1></div>
<div id="c31"><h2>Header 2. level</h2></div>
<div id="c30"><h3>Header 3. level</h3></div>
<div id="c29"><h4>Header 4. level</h4></div>
<div id="c28"><h5>Header 5 level</h5></div>
<div id="c27"><h1><a href="index.php?id=1">Header 1. level (with link)</a></h1></div>
<div id="c26"><h2><a href="index.php?id=1">Header 2 level (with link)</a></h2></div>
<div id="c25"><h3><a href="index.php?id=1">Header 3. level (with link)</a></h3></div>
<div id="c24"><h4><a href="index.php?id=1">Header 4. level (with link)</a></h4></div>
<div id="c23"><h5><a href="index.php?id=1">Header 5. level (with link)</a></h5></div>
<div id="c22"><h1 class="text-center">Header 1. level (centered)</h1></div>
<div id="c21"><h2 class="text-center">Header 2. level (centered)</h2></div>
<div id="c20"><h3 class="text-center">Header 3. level (centered)</h3></div>
<div id="c19"><h4 class="text-center">Header 4. level (centered)</h4></div>
<div id="c18"><h5 class="text-center">Header 5. level (centered)</h5></div>
<div id="c17"><h1 class="text-right">Header 1. level (right-justified)</h1></div>
<div id="c16"><h2 class="text-right">Header 2. level (right-justified)</h2></div>
<div id="c15"><h3 class="text-right">Header 3. level (right-justified)</h3></div>
<div id="c14"><h4 class="text-right">Header 4. level (right-justified)</h4></div>
<div id="c13"><h5 class="text-right">Header 5. level (right-justified)</h5></div>

