---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Lists #title in menu
number: 10 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c70"><h1>Multiple Layouts for Standard Content Types</h1><p class="bodytext">Ordered and unordered lists are available in TYPO3&nbsp;as a standard content element.&nbsp;Users are able to create multiple&nbsp;predefined list layouts, which help to ensure site-wide visual consistency.</p></div>
<div id="c69" class="csc-space-before-10"><h2>Unordered List</h2><ul class="list"><li class="odd">Morbi in sem quis dui placerat ornare
</li><li class="even">Praesent dapibus, neque id cursus faucibus
</li><li class="odd">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non</li></ul></div>
<div id="c68"><h2>Ordered List</h2><ol class="list"><li class="odd">Morbi in sem quis dui placerat ornare
</li><li class="even">Praesent dapibus, neque id cursus faucibus
</li><li class="odd">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non</li></ol></div>
<div id="c67"><h2>Unstyled List</h2><ul class="list list-unstyled"><li class="odd">Morbi in sem quis dui placerat ornare
</li><li class="even">Praesent dapibus, neque id cursus faucibus
</li><li class="odd">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non</li></ul></div>
<div id="c66"><h2>Inline List</h2><ul class="list list-inline"><li class="odd">Morbi in sem quis
</li><li class="even">Praesent dapibus
</li><li class="odd">Phasellus ultrices</li></ul></div>

