---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Tables #title in menu
number: 9 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c59"><h1>Tables</h1><p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor tellus vitae accumsan. Nulla aliquam tristique velit, at bibendum eros sagittis ut. Maecenas tincidunt neque ac augue convallis luctus. Quisque nulla arcu, euismod et neque fermentum, sollicitudin vestibulum dolor. In eget leo tincidunt, volutpat urna eu, suscipit odio. Quisque placerat porttitor iaculis. Cras non adipiscing ligula. Aenean egestas nisi eget nisi ultricies, non feugiat lectus blandit. Pellentesque non quam arcu.</p></div>
<div id="c58"><h2>Basic example</h2>
                <table class="table table-striped">
                    <caption>Caption</caption><thead>
                    <tr>
                            <th scope="col" id="col58-0">&nbsp;</th>
                            <th scope="col" id="col58-1">Area A</th>
                            <th scope="col" id="col58-2">Area B</th>
                            <th scope="col" id="col58-3">Area C</th>
                    </tr>
                    </thead><tbody>
                    <tr>
                            <td headers="col58-0">2007</td>
                            <td headers="col58-1">50.000</td>
                            <td headers="col58-2">35.000</td>
                            <td headers="col58-3">62.400</td>
                    </tr>
                    <tr>
                            <td headers="col58-0">2008</td>
                            <td headers="col58-1">52.500</td>
                            <td headers="col58-2">39.700</td>
                            <td headers="col58-3">61.500</td>
                    </tr>
                    <tr>
                            <td headers="col58-0">2009</td>
                            <td headers="col58-1">54.000</td>
                            <td headers="col58-2">41.000</td>
                            <td headers="col58-3">62.000</td>
                    </tr></tbody>
                </table></div>
<div id="c57"><h2>Striped rows</h2>
                <table class="table table-striped">
                    <tbody><tr>
                            <td>&nbsp;</td>
                            <td>Area A</td>
                            <td>Area B</td>
                            <td>Area C</td>
                    </tr>
                    <tr>
                            <td>2007</td>
                            <td>50.000</td>
                            <td>35.000</td>
                            <td>62.400</td>
                    </tr>
                    <tr>
                            <td>2008</td>
                            <td>52.500</td>
                            <td>39.700</td>
                            <td>61.500</td>
                    </tr>
                    <tr>
                            <td>2009</td>
                            <td>54.000</td>
                            <td>41.000</td>
                            <td>62.000</td>
                    </tr>
                </tbody></table></div>
<div id="c56"><h2>Bordered table</h2>
                <table class="table table-bordered">
                    <tbody><tr>
                            <td>&nbsp;</td>
                            <td>Area A</td>
                            <td>Area B</td>
                            <td>Area C</td>
                    </tr>
                    <tr>
                            <td>2007</td>
                            <td>50.000</td>
                            <td>35.000</td>
                            <td>62.400</td>
                    </tr>
                    <tr>
                            <td>2008</td>
                            <td>52.500</td>
                            <td>39.700</td>
                            <td>61.500</td>
                    </tr>
                    <tr>
                            <td>2009</td>
                            <td>54.000</td>
                            <td>41.000</td>
                            <td>62.000</td>
                    </tr>
                </tbody></table></div>
<div id="c55"><h2>Hover rows</h2>
                <table class="table table-hover"><thead>
                    <tr>
                            <th scope="col" id="col55-0">&nbsp;</th>
                            <th scope="col" id="col55-1">Area A</th>
                            <th scope="col" id="col55-2">Area B</th>
                            <th scope="col" id="col55-3">Area C</th>
                    </tr>
                    </thead><tbody>
                    <tr>
                            <td headers="col55-0">2007</td>
                            <td headers="col55-1">50.000</td>
                            <td headers="col55-2">35.000</td>
                            <td headers="col55-3">62.400</td>
                    </tr>
                    <tr>
                            <td headers="col55-0">2008</td>
                            <td headers="col55-1">52.500</td>
                            <td headers="col55-2">39.700</td>
                            <td headers="col55-3">61.500</td>
                    </tr>
                    <tr>
                            <td headers="col55-0">2009</td>
                            <td headers="col55-1">54.000</td>
                            <td headers="col55-2">41.000</td>
                            <td headers="col55-3">62.000</td>
                    </tr></tbody>
                </table></div>
<div id="c54"><h2>Condensed table</h2>
                <table class="table table-condensed">
                    <tbody><tr>
                            <th scope="row" id="row54-0">&nbsp;</th>
                            <td headers="row54-0">Area A</td>
                            <td headers="row54-0">Area B</td>
                            <td headers="row54-0">Area C</td>
                    </tr>
                    <tr>
                            <th scope="row" id="row54-1">2007</th>
                            <td headers="row54-1">50.000</td>
                            <td headers="row54-1">35.000</td>
                            <td headers="row54-1">62.400</td>
                    </tr>
                    <tr>
                            <th scope="row" id="row54-2">2008</th>
                            <td headers="row54-2">52.500</td>
                            <td headers="row54-2">39.700</td>
                            <td headers="row54-2">61.500</td>
                    </tr>
                    <tr>
                            <th scope="row" id="row54-3">2009</th>
                            <td headers="row54-3">54.000</td>
                            <td headers="row54-3">41.000</td>
                            <td headers="row54-3">62.000</td>
                    </tr>
                </tbody></table></div>

