---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Text and images #title in menu
number: 5 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c433"><h1>Easily Position Text and Images</h1><p class="bodytext">TYPO3 makes working with text and images a snap. TYPO3's text with image content element gives editors precise control over captions, alternative text attributes, image size and quality, and layout. TYPO3's core tools for manipulating images can automatically optimize image files uploaded by back-end editors to reduce file size and reduce the time required to load a page.</p></div>
<div id="c432"><h2>Position:  In text, left</h2><div class="image-intext-left image-intext"><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="300" height="169" alt=""></figure></div><div class="text"><p class="bodytext">Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c431"><h2>Position:  In text, right</h2><div class="image-intext-right image-intext"><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="300" height="169" alt=""></figure></div><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c430"><div class="image-header-2 image-beside-left image-beside"><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="300" height="145" alt=""></figure></div><div class="text"><h2>Position: Beside text, left</h2><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c429"><div class="image-header-2 image-beside-right image-beside"><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="300" height="200" alt=""></figure></div><div class="text"><h2>Position:  Beside text, right</h2><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c428"><h2>Position: Above, left</h2><div class="image-left image-below"><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="500" height="282" alt=""></figure></div><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c427"><h2>Position: Above, center</h2><div class="image-center image-above"><div class="image-wrap"><div class="image-center-outer"><div class="image-center-inner"><figure class="image"><img src="images/foto1.jpg" width="500" height="282" alt=""></figure></div></div></div><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c426"><h2>Position: Above, right</h2><div class="image-right image-above"><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="500" height="242" alt=""></figure></div><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div></div></div>
<div id="c425"><h2>Position: Below, left</h2><div class="image-left image-below"><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="500" height="242" alt=""></figure></div></div></div>
<div id="c424"><h2>Position: Below, center</h2><div class="image-center image-below"><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div><div class="image-wrap"><div class="image-center-outer"><div class="image-center-inner"><figure class="image"><img src="images/foto1.jpg" width="500" height="334" alt=""></figure></div></div></div></div></div>
<div id="c423"><h2>Position: Below, right</h2><div class="image-right image-below"><div class="text"><p class="bodytext"> Nam aliquam, lorem nec dapibus feugiat, ipsum quam laoreet arcu, sed ullamcorper augue augue vitae magna.
</p>
<p class="bodytext">Hambiam est lectus, interdum id, accumsan a, blandit quis, mauris placerat sit amet, nibh. Lacus lectus est mattis vel, pharetra sit amet. Nam laoreet, erat ac laoreet euismod, sapien felis pretium libero, semper euismod mauris metus quis tortor. </p></div><div class="image-wrap"><figure class="image"><img src="images/foto1.jpg" width="500" height="282" alt=""></figure></div></div></div>

