<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <meta name="robots" content="noindex">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    {{>faviconsMetaTags}}
    <script>
        // touchSupport
        touchSupport = (('ontouchstart' in window) || (navigator.MaxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0));
        if (!touchSupport) {
            document.documentElement.className += " no-touch";
        }
        else{
            document.documentElement.className += " touch";
        }
        // IE version
        var uA = window.navigator.userAgent;
        var msie = uA.indexOf('MSIE ');
        var trident = uA.indexOf('Trident/');
        var ie;
        function detectIE () {
            if (msie > 0) {
                // IE 10 or older => return version number
                ie = 'ie' + parseInt(uA.substring(msie + 5, uA.indexOf('.', msie)), 10);
                return ie;
            }
            if (trident > 0) {
                // IE 11 (or newer) => return version number
                var rv = uA.indexOf('rv:');
                ie = 'ie' + parseInt(uA.substring(rv + 3, uA.indexOf('.', rv)), 10);
                return ie;
            }
        return ie = 'nonIE';
        }
        detectIE();
        if (ie === 'nonIE') {
            document.documentElement.className += (' ' + ie);
        } else{
            document.documentElement.className += (' ' + (ie + ' ' + 'IE'));
        };
    </script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="main.css">
</head>
