@font-face {
    font-family: 'icons';
    src:url('fonts/icons.eot?f1wmpb');
    src:url('fonts/icons.eot?#iefixf1wmpb') format('embedded-opentype'),
        url('fonts/icons.woff?f1wmpb') format('woff'),
        url('fonts/icons.ttf?f1wmpb') format('truetype'),
        url('fonts/icons.svg?f1wmpb#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icons {
    font-family: 'icons';
    speak: none;
    position: relative;
    display: inline-block;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// =================================
// === Icons mixin =================
// =================================
.icons() {
    font-family: 'icons';
    speak: none;
    position: relative;
    display: inline-block;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =======================================
// == RESERVED ICONS for t3layout_ricky===
// =======================================
.icon-t3-mobile:before {content: "\32";}
.icon-t3-mail:before {content: "\35";}
.icon-t3-facebook:before {content: "\128";}
.icon-t3-twitter:before {content: "\126";}
.icon-t3-linkedin:before {content: "\131";}
.icon-t3-vimeo:before {content: "\124";}
.icon-t3-googleplus:before {content: "\12b";}
.icon-t3-pinterest:before {content: "\12d";}
.icon-t3-instagram:before {content: "\e600";}
.icon-t3-youtube:before {content: "\e605";}
.icon-t3-home:before {content: "\53";}
.icon-t3-sitemap:before {content: "\eb";}
.icon-t3-login:before {content: "\3f";}
.icon-t3-dropdown-arrow:before {content: "\ff";}
.icon-t3-search:before {content: "\55";}
.icon-t3-map:before {content: "\44";}

.icon-t3-slider-arrow-left:before {content: "\fe";}
.icon-t3-slider-arrow-right:before {content: "\101";}

.icon-t3-quoteMark:before {content: "\fe";}

.icon-t3-file:before {content: "\e926";}
.icon-t3-film:before {content: "\e92a";}
.icon-t3-picture:before {content: "\e927";}


.icon-t3-newsCarousel-arrow-up:before {content: "\100";}
.icon-t3-newsCarousel-arrow-down:before {content: "\ff";}
.icon-t3-news-categoryIcon:before {content: "\e680";}
.icon-t3-news-archiveIcon:before {content: "\e68d";}


.icon-t3-search-pagination-left:before {content: "\fe";}
.icon-t3-search-pagination-right:before {content: "\101";}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// === Icons variables =============
// =================================
.icon-youtube-circle:before {
    content: "\e605";
}
.icon-instagram-with-circle:before {
    content: "\e600";
}

.icon-instagram:before {
    content: "\e603";
}

.icon-phone2:before {
    content: "\e640";
}

.icon-paperclip:before {
    content: "\e641";
}

.icon-user:before {
    content: "\e642";
}

.icon-compass:before {
    content: "\e645";
}

.icon-location:before {
    content: "\e646";
}

.icon-thumbsup:before {
    content: "\e648";
}

.icon-comment:before {
    content: "\e649";
}

.icon-quote:before {
    content: "\e64a";
}

.icon-tools:before {
    content: "\e64d";
}

.icon-camera:before {
    content: "\e64e";
}

.icon-music:before {
    content: "\e64f";
}

.icon-hourglass2:before {
    content: "\e651";
}

.icon-gauge:before {
    content: "\e652";
}

.icon-earth:before {
    content: "\e654";
}

.icon-cart:before {
    content: "\e656";
}

.icon-box3:before {
    content: "\e657";
}

.icon-statistics:before {
    content: "\e658";
}

.icon-pie:before {
    content: "\e659";
}

.icon-logout:before {
    content: "\e65a";
}

.icon-login:before {
    content: "\e65b";
}

.icon-minus2:before {
    content: "\e65c";
}

.icon-plus:before {
    content: "\e65d";
}

.icon-cross:before {
    content: "\e65e";
}

.icon-minus3:before {
    content: "\e65f";
}

.icon-plus2:before {
    content: "\e660";
}

.icon-cross2:before {
    content: "\e661";
}

.icon-info3:before {
    content: "\e662";
}

.icon-info4:before {
    content: "\e663";
}

.icon-help:before {
    content: "\e665";
}

.icon-warning:before {
    content: "\e666";
}

.icon-pictures:before {
    content: "\e667";
}

.icon-folder:before {
    content: "\e669";
}

.icon-archive:before {
    content: "\e66a";
}

.icon-upload:before {
    content: "\e66c";
}

.icon-download:before {
    content: "\e66d";
}

.icon-arrow-left:before {
    content: "\e66e";
}

.icon-arrow-down:before {
    content: "\e66f";
}

.icon-arrow-up:before {
    content: "\e670";
}

.icon-arrow-right:before {
    content: "\e671";
}

.icon-arrow-left2:before {
    content: "\e672";
}

.icon-arrow-down2:before {
    content: "\e673";
}

.icon-arrow-up2:before {
    content: "\e674";
}

.icon-uniE675:before {
    content: "\e675";
}

.icon-cc:before {
    content: "\e676";
}

.icon-mobile2:before {
    content: "\32";
}

.icon-mail3:before {
    content: "\35";
}

.icon-users:before {
    content: "\3f";
}

.icon-location2:before {
    content: "\43";
}

.icon-map2:before {
    content: "\44";
}

.icon-house:before {
    content: "\53";
}

.icon-search:before {
    content: "\55";
}

.icon-briefcase:before {
    content: "\75";
}

.icon-network:before {
    content: "\7a";
}

.icon-bars:before {
    content: "\a2";
}

.icon-graph:before {
    content: "\a3";
}

.icon-flow-tree:before {
    content: "\eb";
}

.icon-arrow-left5:before {
    content: "\fe";
}

.icon-arrow-down5:before {
    content: "\ff";
}

.icon-arrow-up4:before {
    content: "\100";
}

.icon-arrow-right5:before {
    content: "\101";
}

.icon-arrow-left6:before {
    content: "\102";
}

.icon-arrow-down6:before {
    content: "\103";
}

.icon-arrow-up5:before {
    content: "\104";
}

.icon-arrow-right6:before {
    content: "\105";
}

.icon-vimeo:before {
    content: "\123";
}

.icon-vimeo2:before {
    content: "\124";
}

.icon-twitter3:before {
    content: "\125";
}

.icon-twitter4:before {
    content: "\126";
}

.icon-facebook3:before {
    content: "\127";
}

.icon-facebook4:before {
    content: "\128";
}

.icon-googleplus3:before {
    content: "\12a";
}

.icon-googleplus4:before {
    content: "\12b";
}

.icon-pinterest:before {
    content: "\12c";
}

.icon-pinterest2:before {
    content: "\12d";
}

.icon-linkedin2:before {
    content: "\130";
}

.icon-linkedin3:before {
    content: "\131";
}

.icon-cabinet2:before {
    content: "\e601";
}

.icon-suitcase:before {
    content: "\e602";
}

.icon-suitcase3:before {
    content: "\e604";
}

.icon-chart:before {
    content: "\e608";
}

.icon-chart2:before {
    content: "\e609";
}

.icon-chart3:before {
    content: "\e60a";
}

.icon-chart4:before {
    content: "\e60b";
}

.icon-gamepad:before {
    content: "\e60c";
}

.icon-phone:before {
    content: "\e60d";
}

.icon-map:before {
    content: "\e610";
}

.icon-box:before {
    content: "\e612";
}

.icon-box2:before {
    content: "\e613";
}

.icon-auction:before {
    content: "\e615";
}

.icon-stats:before {
    content: "\e617";
}

.icon-attachment:before {
    content: "\e619";
}

.icon-hourglass:before {
    content: "\e61a";
}

.icon-abacus:before {
    content: "\e61b";
}

.icon-pig:before {
    content: "\e61d";
}

.icon-addressbook:before {
    content: "\e61f";
}

.icon-safe:before {
    content: "\e621";
}

.icon-book:before {
    content: "\e62b";
}

.icon-checked:before {
    content: "\e630";
}

.icon-error:before {
    content: "\e631";
}

.icon-add:before {
    content: "\e632";
}

.icon-minus:before {
    content: "\e633";
}

.icon-tags:before {
    content: "\e635";
}

.icon-play:before {
    content: "\e67b";
}

.icon-books:before {
    content: "\e67e";
}

.icon-folder2:before {
    content: "\e67f";
}

.icon-folder-open:before {
    content: "\e680";
}

.icon-tag:before {
    content: "\e681";
}

.icon-map3:before {
    content: "\e686";
}

.icon-clock:before {
    content: "\e687";
}

.icon-screen2:before {
    content: "\e688";
}

.icon-mobile:before {
    content: "\e689";
}

.icon-tablet:before {
    content: "\e68a";
}

.icon-drawer:before {
    content: "\e68c";
}

.icon-drawer2:before {
    content: "\e68d";
}

.icon-bubble:before {
    content: "\e68e";
}

.icon-bubbles:before {
    content: "\e68f";
}

.icon-users2:before {
    content: "\e691";
}

.icon-quotes-left:before {
    content: "\e694";
}

.icon-aid:before {
    content: "\e696";
}

.icon-bug:before {
    content: "\e697";
}

.icon-pie2:before {
    content: "\e698";
}

.icon-gift:before {
    content: "\e69b";
}

.icon-trophy:before {
    content: "\e69c";
}

.icon-mug:before {
    content: "\e69d";
}

.icon-list:before {
    content: "\e6a2";
}

.icon-list2:before {
    content: "\e6a3";
}

.icon-numbered-list:before {
    content: "\e6a4";
}

.icon-earth2:before {
    content: "\e6a6";
}

.icon-attachment2:before {
    content: "\e6a8";
}

.icon-info5:before {
    content: "\e6a9";
}

.icon-info6:before {
    content: "\e6aa";
}

.icon-cancel-circle:before {
    content: "\e6ab";
}

.icon-checkmark-circle:before {
    content: "\e6ac";
}

.icon-checkmark:before {
    content: "\e6af";
}

.icon-checkmark2:before {
    content: "\e6b0";
}

.icon-file-text2:before {
    content: "\e926";
}

.icon-file-picture:before {
    content: "\e927";
}

.icon-file-music:before {
    content: "\e928";
}

.icon-file-play:before {
    content: "\e929";
}

.icon-file-video:before {
    content: "\e92a";
}

.icon-file-zip:before {
    content: "\e92b";
}


// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
