---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Contact #title in menu
number: 6 #position in menu
menuLevel: 1
hideInMenu: false #if true, will be hidden in menu
shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
subpages: false #(only for first-level pages)
#parent: #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{>mailForm}}
