// Main Color
@t3-main-color:             #66bd29;//#66bd29
@t3-main-color-hover:       #91cf65;//#91cf65


// Footer
@footer-bg-color:           #323232;//#323232
@footer-color:              #acacac;//#acacac


// Global body variables
@main-bg:                   #fff;
@main-text-color:           #646464;
@main-headers-color:        #4e4e4e;


// Global link variables
@main-link-color:           @t3-main-color;
@main-link-color-hover:     @t3-main-color-hover;


// Header
@header-top-bg:             #fff;
@header-middle-bg:          #fff;


// Nav
@nav-menu-bg:               #fff;
@nav-menu-secondary-color:  @t3-main-color;
@nav-menu-link-color:       #333;
@nav-menu-link-color-hover: @nav-menu-link-color;
@nav-menu-link-bg-hover:    #f0f0f0;
@nav-menu-link-color-active: @t3-main-color;
@nav-menu-link-bg-active:    @nav-menu-link-bg-hover;

