// =================================
// ========= layouts ===============
// =================================


.pxa-blank-template{

}
.pxa-content100{

}
.pxa-content25-50-menu25{

}
.pxa-content25-75{

}
.pxa-content75-25{

}
.pxa-content75-menu25{

}
.pxa-menu25-content50-25{

}
.pxa-menu25-content75{

}
.pxa-start-page100{

}
.pxa-top-content100-content100{

}
.pxa-top-content100-content25-75{

}
.pxa-top-content100-content75-25{

}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
