<div class="tabbable">
    <ul class="nav nav-tabs default">
        <li class="nav-link active ">
            <a href="#one" data-toggle="tab">One</a>
        </li>
        <li class="nav-link  ">
            <a href="#two" data-toggle="tab">Two</a>
        </li>
        <li class="nav-link  ">
            <a href="#three" data-toggle="tab">Three</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in " id="one">
            <h3>Tab 1</h3>
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
        </div>
        <div class="tab-pane fade " id="two">
            <h3>Tab 2</h3>
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
        </div>
        <div class="tab-pane fade " id="three">
            <h3>Tab 3</h3>
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
        </div>
    </div>
</div>


<div class="tabbable">
    <ul class="nav nav-pills default">
        <li class="nav-link">
            <a href="#tab1" data-toggle="pill">Tab 1</a>
        </li>
        <li class="nav-link active">
            <a href="#tab2" data-toggle="pill">Tab 2</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="tab1">
            <h3>Tab 1</h3>
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
        </div>
        <div class="tab-pane fade active in" id="tab2">
            <h3>Tab 2</h3>
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
        </div>
    </div>
</div>
